<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <div>  
        <form action="/product/<%= product._id %>?_method=PUT" method="post">
            <div>
                <label for="name">Name: </label><input id="name" type="text" name="name" placeholder="Enter Name" value= "<%= product.name %> ">
            </div>
            <div>
                <label for="price">Price: </label><input type="number" name="price" id="price" placeholder="$" value=<%= product.price %> >
            </div>
            <div>
                <label for="category">Category:</label>
                <select name="category" id="category ">
                    <% for(let category of categories){ %>
                    <option value="<%=category%>"<%= category === product.category? 'selected':'' %> ><%=category%></option>    
                    <%}%>
                </select>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    
</body>
</html>